@import "tailwindcss";
html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply bg-white text-slate-900;
  }

  html.dark {
    @apply bg-slate-950 text-white;
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.5s ease-out forwards;
}